<!-- Show all posts grouped by year as accordion -->
<style>
    details {
        border-radius: 10px;
        padding: 0px 8px;
        margin-bottom: 15px;
    }
    details[open] {
        padding: 0px 8px 8px 8px;
    }
    summary {
        margin: 0px 0px 8px 0px;
        outline:none;
    }
</style>

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
<details>
    <summary><b>{{ year.name }}</b></summary>
    <ul aria-label="posts from {{ year.name }}">
        {% for post in year.items %}
            <li>
                <span class="post-date">{{ post.date | date: "%b %-d" }}</span>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
</details>
{% endfor %}